<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container">

             <h1 class="title has-text-black is-uppercase has-text-weight-bold">JAK MOGĘ CI POMÓC?</h1>
            <br>
            {% unless site.email == %}
            <a id="contact-button" href="mailto:{{site.email}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fas fa-envelope"></i>Pytania? Napisz do mnie!
            </a>
            {% endunless %}
            <br>
            <p>Może zainteresuje Cię mój <a href="{{site.url}}{{site.baseurl}}/blog">blog</a> (nie trzeba mi co pół roku przypominać, żeby wrzucić tam wpis) oraz moja oferta <a href="{{site.url}}{{site.baseurl}}/mentoring">mentoringu</a>!</p>
            <br>
            Zapraszam Cię na moje media społecznościowe:
            <br>
            <br>
             {% unless site.linkedin_username == %}
            <a id="contact-button" href="http://www.linkedin.com/in/{{site.linkedin_username}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fab fa-linkedin"></i>LinkedIn
            </a>
            {% endunless %}
            
            {% unless site.instagram_username == %}
            <a id="contact-button" href="http://www.instagram.com/{{site.instagram_username}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fab fa-facebook-messenger"></i>Instagram
            </a>
            {% endunless %}
            
            {% unless site.youtube_username == %}
            <a id="contact-button" href="https://www.youtube.com/@{{site.youtube_username}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fab fa-youtube"></i>YouTube
            </a>
            {% endunless %}
            <hr>
            <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless">

            </h3>
            <div class="column is-full is-size-3">
                {% unless site.facebook_username == %}
                <a href="http://www.facebook.com/{{site.facebook_username}}" target="_blank" class="has-text-black"><i class="fab fa-facebook"></i></a>
                {% endunless %}
                {% unless site.twitter_username == %}
                <a href="http://www.twitter.com/{{site.twitter_username}}" target="_blank" class="has-text-black"><i class="fab fa-twitter"></i></a>
                {% endunless %}
                {% unless site.instagram_username ==  %}
                <a href="http://www.instagram.com/{{site.instagram_username}}" target="_blank" class="has-text-black"><i class="fab fa-instagram"></i></a>
                {% endunless %}
                {% unless site.linkedin_username ==  %}
                <a href="http://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank" class="has-text-black"><i class="fab fa-linkedin"></i></a>
                {% endunless %}
                {% unless site.github_username ==  %}
                <a href="http://www.github.com/{{site.github_username}}" target="_blank" class="has-text-black"><i class="fab fa-github"></i></a>
                {% endunless %}
                {% unless site.youtube_channel_id ==  %}
                <a href="http://www.youtube.com/channel/{{site.youtube_channel_id}}" target="_blank" class="has-text-black"><i class="fab fa-youtube"></i></a>
                {% endunless %}
                {% unless site.reddit_username ==  %}
                <a href="http://www.reddit.com/u/{{site.reddit_username}}" target="_blank" class="has-text-black"><i class="fab fa-reddit"></i></a>
                {% endunless %}
                {% unless site.behance_username ==  %}
                <a href="http://www.behance.com/{{site.behance_username}}" target="_blank" class="has-text-black"><i class="fab fa-behance"></i></a>
                {% endunless %}
                {% unless site.dribbble_username ==  %}
                <a href="http://www.dribbble.com/{{site.dribbble_username}}" target="_blank" class="has-text-black"><i class="fab fa-dribbble"></i></a>
                {% endunless %}
                {% unless site.spotify_username ==  %}
                <a href="http://open.spotify.com/user/{{site.spotify_username}}" target="_blank" class="has-text-black"><i class="fab fa-spotify"></i></a>
                {% endunless %}
            </div>
        </div>
    </div>
</section>
